body {
    background-color: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 5vh;
    position: relative; /* Or fixed */
  }
  /* overflow of DVD fix  */
  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
  }
  
  
  button {
    background-color: #bb00ff;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  button:hover {
    background-color: #d44dff;
  }
  #shop {
    margin-top: 3rem;
  }
  
  #shop button {
    margin-top: 1rem;
    background-color: #444;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #shop button:hover {
    background-color: #666;
  }
  .dvdlogo {
    position: absolute;
    width: 1500px;
    height: 1500px;
    pointer-events: none;
    z-index: 10;
  }


  /* animation for the feedback sys */
  .floating-text {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    color: #00ffcc;
    pointer-events: none;
    z-index: 999;
    animation: floatUp 1s ease-out forwards;
  }
  
  @keyframes floatUp {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(-30px);
    }
  }
  .dvdlogo {
    pointer-events: none;
    mix-blend-mode: screen;
    filter: brightness(1.5);
  }
  